@model FinancialPortal.Models.Household
@using FinancialPortal.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Household</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncomeAnnual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncomeAnnual)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index")
    @if (UserRolesHelper.IsUserInRole(User.Identity.GetUserId(), HouseholdRoleName.HEAD_OF_HOUSEHOLD))
    {
        <span>&nbsp;|&nbsp;</span>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @if (!UserRolesHelper.IsUserInRole(User.Identity.GetUserId(), HouseholdRoleName.HEAD_OF_HOUSEHOLD))
    {
        <span>&nbsp;|&nbsp;</span>@Html.ActionLink("Leave Household", "LeaveHousehold", new { id = Model.Id })
    }
</p>
