@model FinancialPortal.Models.Household
@using FinancialPortal.Helpers
@using Microsoft.AspNet.Identity
@using FinancialPortal.Models;
@{
    ViewBag.Title = "Household Details";
}
<script src="~/Dependencies/jQuery/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/Dependencies/dataTables/DataTables-1.10.12.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('#tblMembers').DataTable();
    });
</script>
<h2>Household Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeadOfHousehold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeadOfHousehold.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncomeAnnual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncomeAnnual)
        </dd>
    </dl>
</div>
<hr />
<div>
    <h4>Members</h4>
    <div>
        <table id="tblMembers" class="table">
            <thead>
                <tr>
                    <th>
                        Last Name
                    </th>
                    <th>
                        First Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicationUser member in ViewBag.HouseholdMembers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => member.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => member.FirstName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Back", "Index")
    @if (UserRolesHelper.IsUserInRole(User.Identity.GetUserId(), HouseholdRoleName.HEAD_OF_HOUSEHOLD))
    {
        <span>&nbsp;|&nbsp;</span>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @if (!UserRolesHelper.IsUserInRole(User.Identity.GetUserId(), HouseholdRoleName.HEAD_OF_HOUSEHOLD))
    {
        <span>&nbsp;|&nbsp;</span>@Html.ActionLink("Leave Household", "LeaveHousehold", new { id = Model.Id })
    }
</p>
