@model FinancialPortal.Models.HouseholdViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit Household";
    string userId = User.Identity.GetUserId();
}
<script src="~/Dependencies/jQuery/jquery-2.2.4.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="well bs-component col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <fieldset>
                    <legend>Edit Household</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="Name" type="text" class="form-control" placeholder="Name" value="@Model.Name">
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>
                            Members&nbsp;<a href="@Url.Action(ActionName.INVITE, ControllerName.HOUSEHOLDS, new { id = Model.Id })" data-toggle="tooltip" data-placement="right" title="Invite someone to join this household"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        </h5>
                        <div class="col-md-12">
                            @Html.ListBoxFor(model => model.SelectedMembers, Model.Members, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SelectedMembers, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 modal-footer well-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="@Url.Action(ActionName.INDEX, ControllerName.HOUSEHOLDS)" class="btn btn-primary">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>